
#container {
    display:flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 960px;
    height: 960px;
    
}

#hz {
    display:flex;
    
    justify-content: center;
    
}

.vt {
    display:flex;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}